<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PruebaWSStat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SUtiFolioStatBinding" maxReceivedMessageSize="9999999" />
                
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.17.100.121:8011/Util/ws/SUtiFolioStat"
                binding="basicHttpBinding" bindingConfiguration="SUtiFolioStatBinding"
                contract="ServiceReference1.SUtiFolioStat_PortType" name="SUtiFolioStatBindingQSPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <PruebaWSStat.Properties.Settings>
            <setting name="PruebaWSStat_WebReference_SUtiFolioStatBindingQSService" 
                serializeAs="String">
                <value>http://172.17.100.121:8011/Util/ws/SUtiFolioStat</value>
            </setting>
        </PruebaWSStat.Properties.Settings>
    </applicationSettings>
</configuration>